/* ============================== */
/* ! Layout for desktop version   */
/* ============================== */

	body {
		background: #F3F3F3 url(../img/noise.png);
		color: #3B3B3B;
		font-family: 'Signika', sans-serif;
	}
	a, a:link {color: #3B3B3B;}
	a:hover {color: #7C7979;-webkit-transition: all 0.15s ease-in-out;-moz-transition: all 0.15s ease-in-out;-o-transition: all 0.15s ease-in-out;transition: all 0.15s ease-in-out;}
	a.button {background: #3B3B3B;color: #F3F3F3;padding:1em;font-size: .8em;-webkit-border-radius: .1875em;border-radius: .1875em;text-decoration:none;display:inline-block;margin-top:1.5em;}
	a.button:hover {background: #7C7979;}
	a.button.alt {background: #C56A6A;}
	a.button.alt:hover {background:	#B64949;}


	
	h1,h2,h3 {
	}
	
	/*Fixed top bar*/
	
	.topbar {
		background: rgba(59, 59, 59, .95);
		color: #F3F3F3;
		height: 3em;
		line-height: 3em;
		padding: auto 0;
		position: fixed;
		right: 0;
		left: 0;
		z-index: 1030;
		top: 0;
	}
		.avatar {
			-webkit-border-radius: 50%;
			border-radius: 50%;
			float: left;
			height: 35px;
			margin: .3em .7em auto 3px;
			-webkit-box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
			box-shadow: 0 0 0 2px rgba(255, 255, 255, 0.25);
		}
		
	/*Screenshots*/
	
	.projects {
		padding-top:1em;
	}
		.project {
			padding:4em 0;
		}
			figure {
				margin:0;
			}
	
	/* Responsive Video - http://webdesignerwall.com/tutorials/css-elastic-videos */
	
	.video-wrapper {
		width: 745px;
		max-width: 100%;
	}

	.video-container {
		position: relative;
		padding-bottom: 61%;
		height: 0;
		overflow: hidden;
	}

	.video-container iframe,  
	.video-container object,  
	.video-container embed {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
	

@media only screen and (max-width: 1023px) {
	body {
	font-size: 1.1em;
	line-height: 1.75em;
	}
	
	.topbar h1 {
		font-size: 150%;
	}

	}

@media handheld, only screen and (max-width: 767px) {
	body {
	font-size: 1.2em;
	line-height: 2em;
	text-align: center;
	}

	.topbar h1 {
		font-size: 110%;
		text-align: left;
	}

	.projects {
		padding-top: 2em;
	}

	.project {
		padding: 2em 0;
	}

	figure {
		margin-bottom: 1em;
	}

}