body {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  line-height: 1.25;
}
.content {
  padding: 30px 20px 0;
}
.container {
  position: relative;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
header {
  text-align: center;
  padding: 20px;
  background: #353535 url(black-Linen.png);
}
header h1 {
  margin: 0;
  font-size: 24px;
  line-height: 28px;
}
header a:hover {
  text-decoration: none;
}

.listing {margin: 40px -15px;}
.listing .col-span-6 {margin-bottom: 30px;}

.thumbnail {
  position: relative;
  display: block;
  overflow: hidden;
  padding: 0;
  border: 0;
}
.thumbnail::after {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 5;
  content: "";
  border: 1px solid rgb(56, 56, 56);
  border: 1px solid rgba(56, 56, 56, 0.3);
}
.thumbnail::after,
.thumbnail img {
  display: block;
  border-radius: 4px;
}
.thumbnail img {
  box-shadow: 0 1px 3px rgba(0,0,0,.075);
}
.thumb-title {
  margin-top: 10px;
  margin-bottom: 0;
}
.thumb-category {
  font-size: 14px;
  color: #aaa;
}
h1 small {
  display: block;
}
.show {
  margin: 0 -15px 20px;
}
.show .post-title {
  margin: 0;
  font-size: 30px;
}
.show .post-category {
  display: block;
  font-size: 14px;
  color: #aaa;
  margin-bottom: 20px;
}
.related {
  padding-top: 10px;
}
aside .thumb {
  margin-bottom: 20px;
  overflow: hidden;
}
.pagination {
  font-weight: 500;
  color: #999;
  text-align: center;
  background: #353535;
  border-radius: 0;
  display: block;
  margin: 0;
}
.pagination .paginate {
  display: block;
  padding: 20px;
  text-align: center;
}
.pagination .paginate:last-child {
  border-left: 0;
  border-top: 1px solid #555;
}
.pagination a.paginate {
  color: #fff;
}
.pagination a.paginate:hover {
  color: #fff;
  text-decoration: none;
  background-color: #555555;
  border-color: #353535;
}
.credits {
  text-align: center;
  padding: 20px;
  color: #999;
}
.credits p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 30px;
}


/* Taty */
.avatar {
  width: 100px;
  height: 100px;
  margin: auto;
}
.avatar .img {
  display: block;
  width: 100%;
  height: 100%;
  -webkit-border-radius: 500px;
  border-radius: 500px;
  -webkit-box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 0 0 6px rgba(255, 255, 255, 0.3), 0 1px 2px rgba(0, 0, 0, 0.1);
  background-image: url(avatar.jpg);
}
.btn-group a,.btn-group a:hover {color: #fff;font-size: 1.7em;}
.btn {background: rgb(167, 167, 167);background: rgba(167, 167, 167, 0.15);border-color: rgba(0, 0, 0, 0);}
.twitter:hover {background-color: #00aced;border-color: #00aced;}
.github:hover {background-color: #000000;border-color: #000000;}
.email:hover {background-color: #dd4226;border-color: #dd4226;}
.tooltip-inner{padding:5px 8px;}


@media (max-width: 480px) {
  .col-sm-6 {width: 100%;}
}
@media (min-width: 481px) {

  h1 small {
    display: inline;
  }
  /* Tweak listings */
  .listing .span6 {
    max-width: 410px;
    margin-left: auto;
    margin-right: auto;
  }

  /* Left align footer text */
  .credits {
    text-align: left;
  }

  /* 50/50 pagination links */
  .pagination {
    overflow: hidden; /* Clearfix */
  }
  .pagination .paginate {
    float: left;
    width: 50%;
    text-align: center;
  }
  .pagination .paginate:last-child {
    border-left: 1px solid #555;
  }

}