---
layout: default
---

<div class="row show">

<div class="col-md-8">
<h1>{{ page.title }} <small>{{ page.category }}</small></h1>
{{ page.content }}
</div>

<aside class="related col-md-4" role="complementary">
<div class="row">
<h3 class="col-md-12">More projects:</h3>
{% for post in site.related_posts limit:3 %}
<div class="thumb col-sm-4 col-md-12">
{{ post.content }}
<h4 class="thumb-title"><a href="{{ post.url }}">{{ post.title }}</a></h4>
<span class="thumb-category">{{ post.category }}</span>
</div>
{% endfor %}
</div>
</aside>

</div>

